@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}





<div class="card-header bg-primary bg-dark ml-5 py-4">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="py-2 text-white">Manage your account</h2>
        </div>
    </div> 
    <h2 class="text-white"> </h2>
</div>

<div>
   
   
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
